@model apiRequest.Models.StudentData

<a asp-action="Create">Create New</a>

<h1>Details</h1>


@Html.DisplayNameFor(model => model.Id)
@Html.DisplayFor(model => model.Id)

<hr>

@Html.DisplayNameFor(model => model.Name)
@Html.DisplayFor(model => model.Name)